doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{DevOpsMansa}
  body
    header
      h1 #{headerTitle}
    main
      p #{mainContent}
    footer
      p &copy; #{year} Your Company
    a(href="/") Go to View 1
